{% extends 'partials/base.html' %}
{% block tittle %} Delete Electronic Inventory{% endblock %}

{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3">
                    {% for message in messages %}
                    {% if message %}
                    <div class = "alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <h3>Deleting Electronic Inventory</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>Are you sure you want to delete {{electronicinventory}} ({{electronicinventory.serial_number}}) as Electronic Inventory?</h4>
                    </div>
                    <form method = "POST">
                        {% csrf_token %}
                        <a class="btn btn-light"  href = "{% url 'office-electronic-inventory-list'%}"> Cancel</a>
                        <input class = "btn btn-danger" type="submit" value = "Delete Inventory">
                    </form>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}