{% extends 'partials/base.html' %}
{% block tittle %} Delete Electronic Transaction{% endblock %}

{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3">
                    {% for message in messages %}
                    {% if message %}
                    <div class = "alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <h3>Deleting Electronic Transaction</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>Are you sure you want to delete {{electronictransaction.electronic_item.electronic_item.brand.brand_name}} 
                            {{electronictransaction.electronic_item.electronic_item.model_name}} 
                            ({{electronictransaction.electronic_item.serial_number}}) 
                            for {{electronictransaction.current_user}} details as Electronic Transaction?</h4>
                    </div>
                    <form method = "POST">
                        {% csrf_token %}
                        <a class="btn btn-light"  href = "{% url 'office-electronic-transaction-list'%}"> Cancel</a>
                        <input class = "btn btn-danger" type="submit" value = "Delete Transaction">
                    </form>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}