{% extends 'partials/base.html' %}
{% load humanize %}
{% block title %} Electronic Inventory List{% endblock %}

{% block content %}
    <div class="container-md my-3">
        {% for message in messages %}
        {% if message %}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <div class="hstack">
            <span class="h3" style="margin-bottom: 0px;">Electronic Inventory List</span class="h4">
            <a class="btn btn-success btn-sm ms-auto" id="addInventory" href="{% url 'office-electronic-inventory-create' %}">
                <i class="fa-solid fa-plus me-1"></i>
                Add Inventory
            </a>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-borderless table-striped table-hover">
                <thead class ="table-dark">
                    <tr>
                        <th>No.</th>
                        <th>Electronic Item</th>
                        <th>Serial Number</th>
                        <th>Price Per Unit</th>
                        <th>Date of Purchase</th>
                        <th>Purchasing Document</th>
                        <th>Status</th>
                        <th>Remark</th>
                        <th>Previous User</th>
                        <th>Created Date</th>
                        <th>Activity</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for electronicinventory in electronicinventories %}       
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{electronicinventory.electronic_item}}</td>
                        <td>{{electronicinventory.serial_number}}</td>
                        <td>
                            {{electronicinventory.purchasing_document.supplier.currency_trade.currency_code}} 
                            {{electronicinventory.price_per_unit|intcomma}}</td>
                        <td>{{electronicinventory.date_of_purchase}}</td>
                        <td>
                            <a 
                            href="#staticBackdrop" 
                            class="modal-link"
                            data-bs-toggle="modal" 
                            data-bs-target="#staticBackdrop" 
                            data-purchasing-doc-id="{{ electronicinventory.purchasing_document.id }}"
                            >
                            {{electronicinventory.purchasing_document}}
                            </a>
                        </td>
                        <td>{{electronicinventory.status}}</td>
                        <td>{{electronicinventory.remark}}</td>
                        <td>
                            {% for previous_user in electronicinventory.previous_users.all %}
                            -{{ previous_user }} <br>
                            {% endfor %}
                        </td>
                        <td>{{electronicinventory.create_date}}</td>
                        <td>
                            <div class = "d-grid">
                                    <a class="btn btn-outline-primary btn-sm btn-block" href ="{% url 'office-electronic-inventory-update' electronicinventory.id %}">
                                        Edit
                                    </a>
                                    <a class="btn btn-outline-success btn-sm btn-block" href ="">
                                        Validate
                                    </a>
                                    <a class="btn btn-outline-danger btn-sm btn-block" href ="{% url 'office-electronic-inventory-delete' electronicinventory.id %}">
                                        Delete
                                    </a>
                                </ul>
                            </div>    
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>      
                <tfoot id="table-footer">
                    {% if not electronicinventories %}
                    <tr class="table-group-divider">
                        <td colspan="10" class="fw-bold">
                            <hr>
                            No Electronic Inventory available, please add in
                            <hr>
                        </td>
                    </tr>
                    {% endif %}
                </tfoot>                      
            </table>
        </div>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-xl-down modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel"></h1>
                </div>
                <div class="modal-body">
                    <table class="table table-borderless table-striped table-hover">
                        <thead class ="table-dark">
                            <tr>
                                <th>Supplier</th>
                                <th>PO Details</th>
                                <th>PO Details</th>
                                <th>Created Date</th>
                            </tr>
                        </thead>
                        <tbody id="purchasingDocModal"> 
                            
                        </tbody> 
                    </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-accent" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <script>
        responsiveButtonText('addInventory')

        var baseUrl = "{% url 'office-electronic-inventory-list-ajax' %}"   
        generateElectronicInventoryModals()  
    </script>
{% endblock %}