{% extends 'partials/base.html' %}
{% block title %} Update Electronic Transaction{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3">
                    {% if message %}
                    {% for message in messages %}
                    <div class = "alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <h3>Update {{electronictransaction.electronic_item.electronic_item.brand.brand_name}} 
                        {{electronictransaction.electronic_item.electronic_item.model_name}} 
                        ({{electronictransaction.electronic_item.serial_number}}) 
                        for {{electronictransaction.current_user}} details as Electronic Transaction?</h3>
                    <hr>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <a class="btn btn-light" href = "{% url 'office-electronic-transaction-list' %}"> Cancel</a>
                        <input class="btn btn-primary" type="submit" value="Update Transaction">
                    </form>
                </div>
            </div>
        </div>    
    </div>
    <script>
        $(document).ready(function () {
            $('#id_current_user').addClass('disabled-dropdown');
            $('#id_electronic_item').addClass('disabled-dropdown');
            //$('#id_initial_agreement_doc').addClass('disabled-dropdown');

            var selectedValue = $('#id_transaction_type').val();

            // Add or remove classes based on the selected value
            if (selectedValue === 'Checked-In') {
                $('#id_transaction_type').addClass('disabled-dropdown');
                $('#return_agreement_doc-clear_id').addClass('disabled-dropdown');
            } 
        });
    </script>
{% endblock %}