{% extends 'partials/base.html' %}
{% block title %} Update Electronic Model{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3">
                    {% if message %}
                    {% for message in messages %}
                    <div class = "alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <h3>Update {{electronicmodel.model_name}} as Electronic Model details for brand {{electronicmodel.brand}}?</h3>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <a class="btn btn-light" href = "{% url 'office-electronic-model-list' %}"> Cancel</a>
                        <input class="btn btn-primary" type="submit" value="Update Model">
                    </form>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}