{% extends 'partials/base.html' %}
{% block title %} Electronic Brand List{% endblock %}

{% block content %}
    <div class="container-md my-3">
        {% for message in messages %}
        {% if message %}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <div class="hstack">
            <span class="h3" style="margin-bottom: 0px;">Electronic Brand List</span class="h4">
            <a class="btn btn-success btn-sm ms-auto" id="addBrand" href="{% url 'office-electronic-brand-create' %}">
                <i class="fa-solid fa-plus me-1"></i>
                Add Brand
            </a>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-borderless table-striped table-hover">
                <thead class ="table-dark">
                    <tr>
                        <th>No.</th>
                        <th>Brand Name</th>
                        <th>Created Date</th>
                        <th>Activity</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for electronicbrand in electronicbrands %}       
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{electronicbrand.brand_name}}</td>
                        <td>{{electronicbrand.create_date}}</td>
                        <td>
                            <div class = "d-grid">
                                    <a class="btn btn-outline-primary btn-sm btn-block" href ="{% url 'office-electronic-brand-update' electronicbrand.id %}">
                                        Edit
                                    </a>
                                    <a class="btn btn-outline-success btn-sm btn-block" href ="">
                                        Validate
                                    </a>
                                    <a class="btn btn-outline-danger btn-sm btn-block" href ="{% url 'office-electronic-brand-delete' electronicbrand.id %}">
                                        Delete
                                    </a>
                                </ul>
                            </div>    
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>      
                <tfoot id="table-footer">
                    {% if not electronicbrands %}
                    <tr class="table-group-divider">
                        <td colspan="4" class="fw-bold">
                            <hr>
                            No brand available, please add in
                            <hr>
                        </td>
                    </tr>
                    {% endif %}
                </tfoot>                      
            </table>
        </div>
    </div>
    <script>
        responsiveButtonText('addBrand')
    </script>
{% endblock %}