{% extends 'partials/base.html' %}
{% block tittle %} BOM Components List{% endblock %}

{% block content %}
<body>
    <div class="col-md-10 offset-md-1 table-responsive">
        {% for message in messages %}
        {% if message %}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <table class="table table-borderless table-striped table-hover">
            <div class="hstack">
                <span class="h4">BOM Components List</span class="h4">
                <a class="btn btn-success btn-sm ms-auto" href="{% url 'purchasing-BOM-component-create' %}">Add BOMComponent</a>
            </div>
            <hr>
            <thead class = "table-dark">
                <tr>
                    <th>Product Item Code</th>
                    <th>Raw Material Component</th>
                    <th>Quantity Used (per box)</th>
                    <th>Created Date</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody> 
                {% for BOMcomponent in BOMcomponents %}       
                <tr>    
                    <td>{{BOMcomponent.product.item_code}}</td>
                    <td>{{BOMcomponent.raw_material_component}}</td>
                    <td>{{BOMcomponent.quantity_used}}</td>
                    <td>{{BOMcomponent.create_date}}</td>
                    <td>
                        <div class = "d-grid">
                                <a class="btn btn-outline-primary btn-sm btn-block" href ="{% url 'purchasing-BOM-component-update' BOMcomponent.id %}">
                                    Edit
                                </a>
                                <a class="btn btn-outline-success btn-sm btn-block" href ="">
                                    Validate
                                </a>
                                <a class="btn btn-outline-danger btn-sm btn-block" href ="{% url 'purchasing-BOM-component-delete' BOMcomponent.id %}">
                                    Delete
                                </a>
                            </ul>
                        </div>    
                    </td>
                </tr>
                {% endfor %}
            </tbody>                            
        </table>
    </div>
</body>
</html>
{% endblock %}