{% extends 'partials/base.html' %}
{% block tittle %} Purchasing Task{% endblock %}

{% block content %}
<body>
    <div class="col-md-10 offset-md-1 table-responsive">
        <h2 class = "text-center">Purchasing Main Page</h2>
        <hr>
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">Supplier Tab</h3>
                    <p class="card-text">To view, create, update and delete supplier list.</p>
                    <a href="{% url 'purchasing-supplier-list' %}" class="btn btn-primary">View Supplier List</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">Purchasing Document Tab</h3>
                    <p class="card-text">To view, create, update and delete purchasing document list.</p>
                    <a href="{% url 'purchasing-purchasing-document-list' %}" class="btn btn-primary">View Purchasing Document List</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
