{% extends 'partials/base.html' %}
{% block tittle %} Supplier's List{% endblock %}

{% block content %}
<body>
    <div class="col-md-10 offset-md-1 table-responsive">
        {% for message in messages %}
        {% if message %}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <table class="table table-borderless table-striped table-hover">
            <span class="h4">Purchasing Document List</span class="h4">
            <a class="btn btn-info btn-sm float-right" href="{% url 'purchasing-purchasing-document-create' %}">Add Purchasing Document</a>
            <hr>
            <thead class = "thead-dark">
                <tr>
                    <th>Supplier Name</th>
                    <th>PO Details</th>
                    <th>Invoice Details</th>
                    <th>Packing List Details</th>
                    <th>K1 Form Details</th>
                    <th>Create Date</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody> 
                {% for purchasing_document in purchasing_documents %}       
                <tr>
                    <td>{{purchasing_document.supplier}}</td>
                    <td><a href="{{ purchasing_document.po_doc.url }}" target="_blank">{{purchasing_document.po_number}}</a></td>
                    <td><a href="{{ purchasing_document.invoice_doc.url }}" target="_blank">{{purchasing_document.invoice_number}}</a></td>
                    <td><a href="{{ purchasing_document.pl_doc.url }}" target="_blank">{{purchasing_document.packing_list}}</a></td>
                    <td><a href="{{ purchasing_document.k1_doc.url }}" target="_blank">{{purchasing_document.k1_form}}</a></td>
                    <td>{{purchasing_document.create_date}}</td>
                    <td>
                        <div class = "d-grid">
                                <a class="btn btn-outline-primary btn-sm btn-block" href ="{% url 'purchasing-purchasing-document-update' purchasing_document.id %}">
                                    Edit
                                </a>
                                <a class="btn btn-outline-success btn-sm btn-block" href ="">
                                    Validate
                                </a>
                                <a class="btn btn-outline-danger btn-sm btn-block" href ="{% url 'purchasing-purchasing-document-delete' purchasing_document.id %}">
                                    Delete
                                </a>
                            </ul>
                        </div>    
                    </td>
                </tr>
                {% endfor %}
            </tbody>                            
        </table>
    </div>
</body>
</html>
{% endblock %}