{% extends 'partials/base.html' %}
{% block title %} Raw Material Inventory List (Identifier Based){% endblock %}

{% block content %}
<body>
    {% for message in messages %}
    {% if message %}
    <div class = "alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    <div class="container-md">
        <div class="hstack align-items-center">
            <h2 class = "text-center flex-grow-1">Raw Material Inventory List (Identifier Based) Page</h2>
            <a class="btn btn-success btn-sm ms-auto" href="{% url 'purchasing-raw-material-identifier-list-identifier-create' %}">
                <i class="fa-solid fa-plus me-1"></i>
                Add Identifier
            </a>
        </div>
        <hr>
        <div class="row gy-4">
        {% for RawMaterialInventoryIdentifierBased in RawMaterialInventoriesIdentifierBaseds %}   
            <div class="col-4">
                <div class="card card-body d-flex flex-column">
                    <h3 class="card-title">{{RawMaterialInventoryIdentifierBased.0}} Inventory Tab</h3>
                    <p class="card-text py-3">To view, create, update and delete {{RawMaterialInventoryIdentifierBased.0}} inventory log.</p>
                    <a class="btn btn-primary mt-auto" href="{% url 'purchasing-raw-material-inventory-identifier-component-based-list' RawMaterialInventoryIdentifierBased.1 %}">View {{RawMaterialInventoryIdentifierBased.0}} inventory</a>
                </div>
            </div>
        {% endfor %}
        </div>
        
    </div>
</body>
{% endblock %}
