{% extends 'partials/base.html' %}
{% block tittle %} Raw Material Inventory List{% endblock %}

{% block content %}
<style>
    a.no-decoration {
        text-decoration: none;
        color: inherit;
    }
</style>
<body>
    <div class="col-md-10 offset-md-1 table-responsive">
        {% for message in messages %}
        {% if message %}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <table class="table table-borderless table-striped table-hover">
            <div class="hstack">
                <span class="h4">{{component.0.0}} Raw Material Inventory List For {{component.0.1}}</span class="h4">
                <a class="btn btn-success btn-sm float-right ms-auto" href="{% url 'purchasing-raw-material-inventory-identifier-component-based-log-create-main' identifier_id component_id %}">Add Inventory Log</a>
            </div>
            <hr>
            <div class="btn-group-horizontal" id="filter-label" role="group" aria-label="horizontal radio toggle button group">
                <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="vbtn-radio1"><a class="no-decoration" href="{% url 'purchasing-raw-material-inventory-identifier-component-based-log-list' identifier_id component_id%}">Main Page</a></label>
            </div>
            <br>
            <thead class = "table-dark">
                <tr>
                    <th>Identifier</th>
                    <th>Component</th>
                    <th>Quantity</th>
                    <th>Lot</th>
                    <th>Expiry Date</th>
                    <th>Stock In Date</th>
                    <th>Stock Out Date</th>
                    <th>Price per Unit</th>
                    <th>Purchasing Document</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody id="logs-table-body"> 
                {% for RawMaterialInventoriesIdentifierComponentBasedLog in RawMaterialInventoriesIdentifierComponentBasedLogs %}       
                <tr>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.component.identifier}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.component}}</td>
                    {% if RawMaterialInventoriesIdentifierComponentBasedLog.stock_type == '2'%}
                    <td>-{{ RawMaterialInventoriesIdentifierComponentBasedLog.quantity }}</td>
                    {% else %}
                    <td>{{ RawMaterialInventoriesIdentifierComponentBasedLog.quantity|floatformat }}</td>
                    {% endif%}
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.lot_number}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.exp_date}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.stock_in_date}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.stock_out_date}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.price_per_unit}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.purchasing_doc}}</td>
                    <td>
                        <div class = "d-grid">
                                <a class="btn btn-outline-primary btn-sm btn-block" href ="{% url 'purchasing-raw-material-inventory-identifier-component-based-log-update' RawMaterialInventoriesIdentifierComponentBasedLog.component.identifier.id RawMaterialInventoriesIdentifierComponentBasedLog.component.id RawMaterialInventoriesIdentifierComponentBasedLog.stock_type RawMaterialInventoriesIdentifierComponentBasedLog.id %}">
                                    Edit
                                </a>
                                <a class="btn btn-outline-success btn-sm btn-block" href ="">
                                    Validate
                                </a>
                                <a class="btn btn-outline-danger btn-sm btn-block" href ="{% url 'purchasing-raw-material-inventory-identifier-component-based-log-delete' RawMaterialInventoriesIdentifierComponentBasedLog.component.identifier.id RawMaterialInventoriesIdentifierComponentBasedLog.component.id RawMaterialInventoriesIdentifierComponentBasedLog.stock_type RawMaterialInventoriesIdentifierComponentBasedLog.id %}">
                                    Delete
                                </a>
                            </ul>
                        </div>    
                    </td>
                </tr>
                {% endfor %}
            </tbody>                            
        </table>
    </div>
</body>
<script>
    $(document).ready(function () {
        function getUrlParameter(name) {
            var regex = new RegExp(name + ":([^&;]+?)(&|#|;|$|-)");
            var results = regex.exec(window.location.href);
            if (!results) return null;
            if (!results[1]) return "";
      
            // Split the value by '/', '-', or any combination of them
            var values = results[1].split(/[/|-]+/);
      
            // Get the first value
            var desiredValue = values[0];
          
            desiredValue = desiredValue.split('-')[0];
          
            return decodeURIComponent(desiredValue.replace(/\+/g, " "));
        }

        var identifierId = getUrlParameter("identifier");
        var componentId = getUrlParameter("component");
        var stockType = getUrlParameter("type");
        // Function to generate dynamic buttons for filter based on stock_in_tag
        function generateFilterButtons(data) {
            data.forEach(function (log) {
                var radioId = 'vbtn-radio-' + log.lot.replace(/\s+/g, '-').toLowerCase();
                console.log(log.identifier)
                console.log(log.lot)
                $('#filter-label').append(
                    '<input type="radio" class="btn-check" name="vbtn-radio" id="' + radioId + '" autocomplete="off">' +
                    '<label class="btn btn-outline-primary" for="' + radioId + '">' +
                    '<a href="#" class="ajax-link" data-identifier="' + log.identifier + '" data-component="' + log.component + '" data-stock-in-tag="' + log.lot + '">' + log.lot + '</a>' +
                    '</label>'
                );
            });
        };
        console.log('ajax button')
        // Function to load logs based on stock_in_tag when a button is clicked
        function loadLogs(identifier, component, stockInTag) {
            $.ajax({
                url: '{% url 'purchasing-raw-material-inventory-identifier-component-based-log-list-ajax' %}',
                method: 'GET',
                data: {
                    identifier_id: identifierId,
                    component_id: componentId,
                    stock_in_tag: stockInTag,
                },
                dataType: "json",
                success: function (data) {
                    $('#logs-table-body').empty();
                    console.log(data)
                    data.forEach(function (log) {
                        $('#logs-table-body').append(`
                            <tr>
                                <td>${log.identifier}</td>
                                <td>${log.component}</td>
                                <td>${log.quantity}</td>
                                <td>${log.lot}</td>
                                <td>${log.expiry_date}</td>
                                <td>${log.stock_in_date}</td>
                                <td>${log.stock_out_date}</td>
                                <td>${log.price_per_unit}</td>
                                <td>${log.purchasing_document}</td>
                                <td>
                                    <div class="d-grid">
                                        <a class="btn btn-outline-primary btn-sm btn-block" href="">
                                            Edit
                                        </a>
                                        <a class="btn btn-outline-success btn-sm btn-block" href="">
                                            Validate
                                        </a>
                                        <a class="btn btn-outline-danger btn-sm btn-block" href="">
                                            Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        `);
                    });
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        };
        console.log("AJAX URL:", '{% url 'purchasing-raw-material-inventory-identifier-component-based-log-list-ajax' %}');

        // Initial AJAX call to generate filter buttons
        $.ajax({
            url: '{% url 'purchasing-raw-material-inventory-identifier-component-based-log-list-ajax' %}',
            method: 'GET',
            data: {
                identifier_id: identifierId,
                component_id: componentId,
            },
            dataType: "json",
            success: function (data) {
                generateFilterButtons(data);
                console.log(data)
                
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    
        // Event listener for radio buttons to load logs when clicked
        $('#filter-label').on('change', 'input[type="radio"]', function () {
            var identifier = $(this).find('a.ajax-link').data('identifier');
            var component = $(this).find('a.ajax-link').data('component');
            var stockInTag = $(this).find('a.ajax-link').data('stock-in-tag');
    
            loadLogs(identifier, component, stockInTag);
        });
    });    
</script>
{% endblock %}