{% extends 'partials/base.html' %}
{% block title %} Raw Material Inventory List {% endblock %}

{% block content %}
<body>
    <div class="container-md">
        <div class="hstack align-items-center">
            <h2 class = "text-center flex-grow-1">Raw Material Inventory List For {{parent_item_code}} Page</h2>
            <a class="btn btn-success btn-sm ms-auto" href="">Add Inventory Log</a>
        </div>
        <hr>
        <div class="card-deck row gy-4">
            {% for raw_material_inventory_list_identifier_component_based in raw_material_inventory_list_identifier_component_baseds %}
            {% if forloop.counter0|divisibleby:3 %}
            <div class="col-4">
            {% elif forloop.counter0|divisibleby:2 %}
                <div class="col-6">
            {% else %}
                <div class="col-12">
            {% endif %}
                <div class="card card-body d-flex flex-column">
                    <h3 class="card-title">{{raw_material_inventory_list_identifier_component_based.name}} Inventory Tab</h3>
                    <p class="card-text py-3">To view, create, update and delete {{raw_material_inventory_list_identifier_component_based.name}} inventory log for {{parent_item_code}}.</p>
                    <a class="btn btn-primary mt-auto" href="{% url 'purchasing-raw-material-inventory-identifier-component-based-log-list' identifier_id=identifier_id component_id=raw_material_inventory_list_identifier_component_based.id %}">View {{raw_material_inventory_list_identifier_component_based.name}} inventory</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
