{% extends 'partials/base.html' %}
{% block tittle %} Raw Material Inventory List{% endblock %}

{% block content %}
<style>
    a.no-decoration {
        text-decoration: none;
        color: inherit;
    }
</style>
<body>
    <div class="col-md-10 offset-md-1 table-responsive">
        {% for message in messages %}
        {% if message %}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <table class="table table-borderless table-striped table-hover">
            <div class="hstack">
                <span class="h4">{{component.0.0}} Raw Material Inventory List For {{component.0.1}}</span class="h4">
                <a class="btn btn-success btn-sm float-right ms-auto" href="{% url 'purchasing-raw-material-inventory-identifier-component-based-log-create-main' identifier_id component_id %}">Add Inventory Log</a>
            </div>
            <hr>
            <div class="btn-group-horizontal" id="filter-label" role="group" aria-label="horizontal radio toggle button group">
                <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="vbtn-radio1"><a class="no-decoration" href="{% url 'purchasing-raw-material-inventory-identifier-component-based-log-list' identifier_id component_id%}">Main Page</a></label>
            </div>
            <br>
            <thead class = "table-dark">
                <tr>
                    <th>Identifier</th>
                    <th>Component</th>
                    <th>Quantity</th>
                    <th>Lot</th>
                    <th>Expiry Date</th>
                    <th>Stock In Date</th>
                    <th>Stock Out Date</th>
                    <th>Price per Unit</th>
                    <th>Purchasing Document</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody id="logs-table-body"> 
                {% for RawMaterialInventoriesIdentifierComponentBasedLog in RawMaterialInventoriesIdentifierComponentBasedLogs %}       
                <tr>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.component.identifier}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.component}}</td>
                    {% if RawMaterialInventoriesIdentifierComponentBasedLog.stock_type == '2'%}
                    <td>-{{ RawMaterialInventoriesIdentifierComponentBasedLog.quantity }}</td>
                    {% else %}
                    <td>{{ RawMaterialInventoriesIdentifierComponentBasedLog.quantity|floatformat }}</td>
                    {% endif%}
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.lot_number}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.exp_date}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.stock_in_date}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.stock_out_date}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.price_per_unit}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.purchasing_doc}}</td>
                    <td>
                        <div class = "d-grid">
                                <a class="btn btn-outline-primary btn-sm btn-block" href ="{% url 'purchasing-raw-material-inventory-identifier-component-based-log-update' RawMaterialInventoriesIdentifierComponentBasedLog.component.identifier.id RawMaterialInventoriesIdentifierComponentBasedLog.component.id RawMaterialInventoriesIdentifierComponentBasedLog.stock_type RawMaterialInventoriesIdentifierComponentBasedLog.id %}">
                                    Edit
                                </a>
                                <a class="btn btn-outline-success btn-sm btn-block" href ="">
                                    Validate
                                </a>
                                <a class="btn btn-outline-danger btn-sm btn-block" href ="{% url 'purchasing-raw-material-inventory-identifier-component-based-log-delete' RawMaterialInventoriesIdentifierComponentBasedLog.component.identifier.id RawMaterialInventoriesIdentifierComponentBasedLog.component.id RawMaterialInventoriesIdentifierComponentBasedLog.stock_type RawMaterialInventoriesIdentifierComponentBasedLog.id %}">
                                    Delete
                                </a>
                            </ul>
                        </div>    
                    </td>
                </tr>
                {% endfor %}
            </tbody>                            
        </table>
    </div>
</body>
<script>
    $(document).ready(function () {
        function getUrlParameter(name) {
            var regex = new RegExp(name + ":([^&;]+?)(&|#|;|$|-)");
            var results = regex.exec(window.location.href);
            if (!results) return null;
            if (!results[1]) return "";
      
            // Split the value by '/', '-', or any combination of them
            var values = results[1].split(/[/|-]+/);
      
            // Get the first value
            var desiredValue = values[0];
          
            desiredValue = desiredValue.split('-')[0];
          
            return decodeURIComponent(desiredValue.replace(/\+/g, " "));
        }

        var identifierId = getUrlParameter("identifier");
        var componentId = getUrlParameter("component");
        var stockType = getUrlParameter("type");

        // Function to generate dynamic buttons for filter based on stock_in_tag
        function generateFilterButtonsAndLoadLogs(data) {
            data.forEach(function (log) {
                var radioId = 'vbtn-radio-' + log.lot.replace(/\s+/g, '-').toLowerCase();
                $('#filter-label').append(
                    `<input type="radio" class="btn-check" name="vbtn-radio" id="${radioId}" data-identifier="${log.identifier}" data-component="${log.component}" data-stock-in-tag="${log.stock_in_tag}">` +
                    `<label class="btn btn-outline-primary me-1" for="${radioId}" data-identifier="${log.identifier}" data-component="${log.component}" data-stock-in-tag="${log.stock_in_tag}">${log.lot === '-'? log.purchasing_document: log.lot}</label>`
                );
            });
    
            // Event listener for label clicks to load logs when the associated radio button is triggered
            $('#filter-label').on('change', 'label', function () {
                var identifier = $(this).data('identifier');
                var component = $(this).data('component');
                var stockInTag = $(this).data('stock-in-tag');
                loadLogs(identifier, component, stockInTag);
            });
    
            // Event listener for radio button clicks, you might still use it independently if needed
            $('#filter-label').on('change', 'input[type="radio"]', function () {
                var identifier = $(this).data('identifier');
                var component = $(this).data('component');
                var stockInTag = $(this).data('stock-in-tag');
                loadLogs(identifier, component, stockInTag);
            });
        }

        // Function to load logs based on stock_in_tag when a button is clicked
        function loadLogs(identifier, component, stockInTag) {
        $.ajax({
            url: "{% url 'purchasing-raw-material-inventory-identifier-component-based-log-list-ajax' %}",
            method: 'GET',
            data: {
                identifier_id: identifier,
                component_id: component,
                stock_in_tag: stockInTag,
            },
            dataType: "json",
            success: function (data) {
                function formatCustomDate(dateString) {
                    if (dateString) {
                        var date = new Date(dateString);
                        var options = { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true };
                        return new Intl.DateTimeFormat('en-US', options).format(date);
                    } else {
                        return 'None';
                    }
                }

                $('#logs-table-body').empty();
                data.forEach(function (log) {
                    var formattedStockInDate = formatCustomDate(log.stock_in_date);
                    var formattedStockOutDate = formatCustomDate(log.stock_out_date);
                    console.log(log.component_id)
                    console.log(log.identifier_id)
                    console.log(log.log_id)

                    var editUrl = `/production_main/raw_material_inventory_identifier_based_main/identifier:${log.identifier_id}-component-main/component:${log.component_id}-list/inventory_log_create_main/stock_type:${log.stock_type}-log:${log.log_id}-update`
                    var deleteUrl = `/production_main/raw_material_inventory_identifier_based_main/identifier:${log.identifier_id}-component-main/component:${log.component_id}-list/inventory_log_create_main/stock_type:${log.stock_type}-log:${log.log_id}-delete`

                    console.log(editUrl)
                    $('#logs-table-body').append(`
                            <tr>
                                <td>${log.identifier}</td>
                                <td>${log.component} for ${log.identifier}</td>
                                <td>${log.quantity}</td>
                                <td>${log.lot}</td>
                                <td>${log.expiry_date}</td>
                                <td>${formattedStockInDate}</td>
                                <td>${formattedStockOutDate}</td>
                                <td>${log.price_per_unit}</td>
                                <td>${log.purchasing_document}(${log.company_name})</td>
                                <td>
                                    <div class="d-grid">
                                        <a class="btn btn-outline-primary btn-sm btn-block" href="${editUrl}">
                                            Edit
                                        </a>
                                        <a class="btn btn-outline-success btn-sm btn-block" href="">
                                            Validate
                                        </a>
                                        <a class="btn btn-outline-danger btn-sm btn-block" href="${deleteUrl}">
                                            Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        `);
                    });
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        };

        // Initial AJAX call to generate filter buttons
        $.ajax({
            url: "{% url 'purchasing-raw-material-inventory-identifier-component-based-log-list-ajax' %}",
            method: 'GET',
            data: {
                identifier_id: '{{ identifier_id }}',  // Pass the Django template variables here
                component_id: '{{ component_id }}',
            },
            dataType: "json",
            success: function (data) {
                generateFilterButtonsAndLoadLogs(data);
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    });    
</script>
{% endblock %}