{% extends 'partials/base.html' %}
{% block tittle %} Raw Material Identifier List{% endblock %}

{% block content %}
<body>
    <div class="col-md-10 offset-md-1 table-responsive">
        {% for message in messages %}
        {% if message %}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <table class="table table-borderless table-striped table-hover">
            <div class="hstack">
                <span class="h4">Raw Material Component List</span class="h4">
                <a class="btn btn-info btn-sm ms-auto" href="{% url 'purchasing-raw-material-component-create' %}">Add Component</a>
            </div>
            <hr>
            <thead class = "thead-dark">
                <tr>
                    <th>Identifier</th>
                    <th>Component</th>
                    <th>Specifications</th>
                    <th>Created Date</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody> 
                {% for component in components %}       
                <tr>
                    <td>{{component.identifier}}</td>
                    <td>{{component.component}}</td>
                    <td>{{component.spec}}</td>
                    <td>{{component.create_date}}</td>
                    <td>
                        <div class = "d-grid">
                                <a class="btn btn-outline-primary btn-sm btn-block" href ="{% url 'purchasing-raw-material-component-update' component.id %} ">
                                    Edit
                                </a>
                                <a class="btn btn-outline-success btn-sm btn-block" href ="">
                                    Validate
                                </a>
                                <a class="btn btn-outline-danger btn-sm btn-block" href ="{% url 'purchasing-raw-material-component-delete' component.id %} ">
                                    Delete
                                </a>
                            </ul>
                        </div>    
                    </td>
                </tr>
                {% endfor %}
            </tbody>                            
        </table>
    </div>
</body>
</html>
{% endblock %}