{% extends 'partials/base.html' %}
{% block title %} Update Raw Material Inventory Log{% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3">
                    {% if message %}
                    {% for message in messages %}
                    <div class = "alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <h3>Update {{raw_material_inventory.component}} Details?</h3>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <a class="btn btn-light" href = "{% url 'purchasing-raw-material-inventory-identifier-component-based-log-list' raw_material_inventory.component.identifier.id raw_material_inventory.component.id %}"> Cancel</a>
                        <input class="btn btn-primary" type="submit" value="Update Inventory">
                    </form>
                </div>
            </div>
        </div>    
    </div>
    <script>
        var baseUrl = '{% url 'purchasing-raw-material-inventory-identifier-component-based-log-create-ajax' %}'
        var action = 'update'
        performAjaxAction(action, baseUrl);
    </script>
{% endblock %}