{% extends 'partials/base.html' %}
{% block tittle %} Raw Material Inventory List{% endblock %}

{% block content %}
<body>
    <div class="col-md-10 offset-md-1 table-responsive">
        {% for message in messages %}
        {% if message %}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <table class="table table-borderless table-striped table-hover">
            <span class="h4">{{component.0.0}} Raw Material Inventory List For {{component.0.1}}</span class="h4">
            <a class="btn btn-info btn-sm float-right" href="{% url 'purchasing-raw-material-inventory-identifier-component-based-log-create-main' identifier_id component_id %}">Add Inventory Log</a>
            <hr>
            <thead class = "thead-dark">
                <tr>
                    <th>Identifier</th>
                    <th>Component</th>
                    <th>Quantity</th>
                    <th>Lot</th>
                    <th>Expiry Date</th>
                    <th>Stock In Date</th>
                    <th>Stock Out Date</th>
                    <th>Price per Unit</th>
                    <th>Purchasing Document</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody> 
                {% for RawMaterialInventoriesIdentifierComponentBasedLog in RawMaterialInventoriesIdentifierComponentBasedLogs %}       
                <tr>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.component.identifier}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.component}}</td>
                    {% if RawMaterialInventoriesIdentifierComponentBasedLog.stock_type == '2'%}
                    <td>-{{ RawMaterialInventoriesIdentifierComponentBasedLog.quantity }}</td>
                    {% else %}
                    <td>{{ RawMaterialInventoriesIdentifierComponentBasedLog.quantity|floatformat }}</td>
                    {% endif%}
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.lot_number}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.exp_date}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.stock_in_date}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.stock_out_date}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.price_per_unit}}</td>
                    <td>{{RawMaterialInventoriesIdentifierComponentBasedLog.purchasing_doc}}</td>
                    <td>
                        <div class = "d-grid">
                                <a class="btn btn-outline-primary btn-sm btn-block" href ="{% url 'purchasing-raw-material-inventory-identifier-component-based-log-update' RawMaterialInventoriesIdentifierComponentBasedLog.component.identifier.id RawMaterialInventoriesIdentifierComponentBasedLog.component.id RawMaterialInventoriesIdentifierComponentBasedLog.id %}">
                                    Edit
                                </a>
                                <a class="btn btn-outline-success btn-sm btn-block" href ="">
                                    Validate
                                </a>
                                <a class="btn btn-outline-danger btn-sm btn-block" href ="{% url 'purchasing-raw-material-inventory-identifier-component-based-log-delete' RawMaterialInventoriesIdentifierComponentBasedLog.component.identifier.id RawMaterialInventoriesIdentifierComponentBasedLog.component.id RawMaterialInventoriesIdentifierComponentBasedLog.id %}">
                                    Delete
                                </a>
                            </ul>
                        </div>    
                    </td>
                </tr>
                {% endfor %}
            </tbody>                            
        </table>
    </div>
</body>
</html>
{% endblock %}