{% extends 'partials/base.html' %}
{% block tittle %} Raw Material Identifier List{% endblock %}

{% block content %}
<body>
    <div class="col-md-10 offset-md-1 table-responsive">
        {% for message in messages %}
        {% if message %}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <table class="table table-borderless table-striped table-hover">
            <div class="hstack">
                <span class="h3" style="margin-bottom: 0px;">Raw Material Component List</span>
                <a class="btn btn-success btn-sm ms-auto" href="{% url 'purchasing-raw-material-component-create' %}">
                    <i class="fa-solid fa-plus me-1"></i>
                    Add Component
                </a>
            </div>
            <hr>
            <div class="btn-group-horizontal mb-3" id="filter-label" role="group" aria-label="horizontal radio toggle button group">
                <input type="radio" class="btn-check" id="vbtn-radio1" name="vbtn-radio"  autocomplete="off" checked data-component="main-page">
                <label class="btn btn-outline-primary" for="vbtn-radio1">
                    <a class="no-decoration">
                        Main Page
                    </a>
                </label>
            </div>
            <thead class = "table-dark">
                <tr>
                    <th>No.</th>
                    <th>Identifier</th>
                    <th>Component</th>
                    <th>Specifications</th>
                    <th>Created Date</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody id="logs-table-body"> 
                {% for component in components %}       
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{component.identifier}}</td>
                    <td>{{component.component}}</td>
                    <td>{{component.spec}}</td>
                    <td>{{component.create_date}}</td>
                    <td>
                        <div class = "d-grid">
                                <a class="btn btn-outline-primary btn-sm btn-block" href ="{% url 'purchasing-raw-material-component-update' component.id %} ">
                                    Edit
                                </a>
                                <a class="btn btn-outline-success btn-sm btn-block" href ="">
                                    Validate
                                </a>
                                <a class="btn btn-outline-danger btn-sm btn-block" href ="{% url 'purchasing-raw-material-component-delete' component.id %} ">
                                    Delete
                                </a>
                            </ul>
                        </div>    
                    </td>
                </tr>
                {% endfor %}
            </tbody>                            
        </table>
    </div>
</body>
<script>
    var baseUrl = "{% url 'purchasing-raw-material-component-list-ajax' %}";
    componentLogFilter()
</script>
{% endblock %}