{% extends 'partials/base.html' %}
{% block title %} Brand List{% endblock %}

{% block content %}
    <div class="container-md my-3">
        {% for message in messages %}
        {% if message %}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <div class="hstack">
            <span class="h3" style="margin-bottom: 0px;">Brand List</span class="h4">
            <a class="btn btn-success btn-sm ms-auto" id="addBrand" href="{% url 'store-brand-name-create' %}">
                <i class="fa-solid fa-plus me-1"></i>
                Add Brand
            </a>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-borderless table-striped table-hover">
                
                <thead class = "table-dark">
                    <tr>
                        <th>No.</th>
                        <th>Brand Name</th>
                        <th>Company Name</th>
                        <th>Create Date</th>
                        <th>Activity</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for brand in brands %}       
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{brand.brand_name}}</td>
                        <td>{{brand.company_name}}</td>
                        <td>{{brand.create_date}}</td>
                        <td>
                            <div class = "d-grid">
                                    <a class="btn btn-outline-primary btn-sm btn-block" href ="{% url 'store-brand-name-update' pk=brand.id %}">
                                        Edit
                                    </a>
                                    <a class="btn btn-outline-success btn-sm btn-block" href ="">
                                        Validate
                                    </a>
                                    <a class="btn btn-outline-danger btn-sm btn-block" href ="{% url 'store-brand-name-delete' pk=brand.id %}">
                                        Delete
                                    </a>
                                </ul>
                            </div>    
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot id="table-footer">
                    {% if not brands %}
                    <tr class="table-group-divider">
                        <td colspan="5" class="fw-bold">
                            <hr>
                            No Brands available, please add in
                            <hr>
                        </td>
                    </tr>
                    {% endif %}
                </tfoot>                            
            </table>
        </div>
    </div>
    <script>
        responsiveButtonText('addBrand')  
    </script>
{% endblock %}