{% extends 'partials/base.html' %}
{% block tittle %} Inventory{% endblock %}

{% block content %}
<body>
    <div class="container-md">
        <h2 class = "text-center">Inventory Main Page</h2>
        <hr>
        <div class="row gap-2 card-deck">
            <div class="card col">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">Raw Material Tab</h3>
                    <p class="card-text py-3">To view, create, update and delete raw material inventory list.</p>
                    <a class="btn btn-primary mt-auto" href="{% url 'store-inventory-raw-material-main' %}">View Raw Material Inventory</a>
                </div>
            </div>
            <div class="card col">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">Finished Goods Tab</h3>
                    <p class="card-text py-3">To view, create, update and delete finished product list.</p>
                    <a class="btn btn-primary mt-auto" href="{% url 'store-product' %}">View Finished Goods Inventory</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
