{% extends 'partials/base.html' %}
{% block tittle %} Store Main Page{% endblock %}

{% block content %}
    <div class="container-md my-3">
        <h2 class = "text-center">Store Main Page</h2>
        <hr>
        <div class="card-deck row gy-4">
            <div class="col-md-6">
                <div class="card card-body d-flex flex-column">
                    <h3 class="card-title">Brand List Tab</h3>
                    <p class="card-text py-3">To view, create, update and delete Brand list.</p>
                    <a href="{% url 'store-brand-name-list' %}" class="btn btn-accent mt-auto">View Brand List</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body d-flex flex-column">
                    <h3 class="card-title">Product List Tab</h3>
                    <p class="card-text py-3">To view, create, update and delete product list.</p>
                    <a href="{% url 'store-product-list'%}" class="btn btn-accent mt-auto">View Product List</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
