{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/alert_box.css' %}">

    <!-- JavaScript -->
    <script src="{% static 'js/alert_box.js' %}"></script>
    <script src="{% static 'js/raw_material_form_ajax.js' %}"></script>
    <script src="{% static 'js/disable_link_ajax.js' %}"></script>

    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">

    <title>ezAdmin | {% block title %}{% endblock %}</title>
</head>

  </head>
  <body>

    {% include 'partials/nav.html' %}

    <div id="main-page" class="container-fluid main bg-light">
      <div class="col-md-10 offset-md-1">
        <nav class = "bg-light" aria-label="breadcrumb">
          <ol id="breadcrumbs-container" class="breadcrumb bg-light">
            
          </ol>
        </nav>
      </div>
      {% block content %}

      {% endblock %}

      {% block javascript%}

      {% endblock%}


    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get a reference to the container where breadcrumbs will be rendered
        var breadcrumbsContainer = document.getElementById('breadcrumbs-container');

        // Function to get breadcrumbs based on the current URL
        function getBreadcrumbs() {
          var path = window.location.pathname;
      
          // Split the path into segments
          var segments = path.split('/').filter(Boolean);

          var breadcrumbs = [{ label: "Home", url: "/" }];
      
          // Capitalize the first letter of each segment
          for (var i = 0; i < segments.length; i++) {
            var segment = segments[i];
            var formattedSegment = segment.replace(/_/g, ' ')
                                          .replace(/\b\w/g, function(match) {
                                              return match.toUpperCase();
                                          });
            
            // Construct the URL up to the current level
            var url = '/' + segments.slice(0, i + 1).join('/');
    
            breadcrumbs.push({
                'label': formattedSegment,
                'url': url
            });
        }

          console.log(breadcrumbs)
          return breadcrumbs;
      }
  
      // Function to render breadcrumbs in the container
      function renderBreadcrumbs(breadcrumbs) {
          breadcrumbsContainer.innerHTML = ''; // Clear existing content
        if (breadcrumbs.length > 1) {
          // Iterate over the breadcrumbs to create <li> elements
          breadcrumbs.forEach(function (breadcrumb, index) {
              // Create a new <li> element
              var listItem = document.createElement('li');
              listItem.className = 'breadcrumb-item';

              // Create a new <a> element
              var link = document.createElement('a');
              link.href = breadcrumb.url;
              link.textContent = breadcrumb.label;

              // Append the <a> element to the <li> element
              listItem.appendChild(link);

              // Append the <li> element to the breadcrumbsContainer
              breadcrumbsContainer.appendChild(listItem);

              if (index === breadcrumbs.length - 1) {
                listItem.classList.add('custom-active');
                //listItem.setAttribute('aria-current', 'page');
            }
          });
        }
      }

      // Get and render breadcrumbs when the page loads
      var initialBreadcrumbs = getBreadcrumbs();
      renderBreadcrumbs(initialBreadcrumbs);
      
      var lastBreadcrumbLink = breadcrumbsContainer.querySelector('li:last-child a');

      // Add the custom class to the last breadcrumb link
      lastBreadcrumbLink.classList.add('custom-active');
      
  });
  </script>
  </body>
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Social media 
      <section class="text-center">
        Contact at: <br>-->
        <!-- Facebook 
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>-->
  
        <!-- Twitter 
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>-->
  
        <!-- Google 
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>-->
  
        <!-- Instagram 
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>-->
  
        <!-- Linkedin 
        <a class="btn btn-outline-light btn-floating" href="https://www.linkedin.com/in/mirza-fahmi/" role="button" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>-->
  
        <!-- Github 
        <a class="btn btn-outline-light btn-floating" href="https://github.com/mirzafahmi" role="button" target="_blank">
          <i class="fab fa-github"></i>
        </a>-->
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <div class = "text-center pb-1">
      Powered by: <br>
      <img class = 'stack-icon' src="{% static 'icon/html.ico' %}" alt="HTML Icon">
      <img class = 'stack-icon' src="{% static 'icon/css.ico' %}" alt="CSS Icon">
      <img class = 'stack-icon' src="{% static 'icon/javascript.ico' %}" alt="javascript Icon">
      <img class = 'stack-icon' src="{% static 'icon/python.ico' %}" alt="python Icon">
      <img class = 'stack-icon' src="{% static 'icon/django.ico' %}" alt="django Icon">
      <img class = 'stack-icon' src="{% static 'icon/sqlite.ico' %}" alt="sqllite Icon">
    </div>
    <!-- Copyright -->
    <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright: <a class="text-white" href="">ezAdmin</a>
    </div>
    <!-- Copyright -->
  </footer>
</html>
