<style>
  #user-nav-link:hover {
    color: #0d6efd;
  }
  #logout-nav-link:hover {
    color: #dc3545;
  }
  #login-nav-link:hover {
    color: #0d6efd;
  }
  #register-nav-link:hover {
    color: #198754;
  }
</style>
{% if user.is_authenticated %} 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient d-flex justify-content-center">
  <div class="container-md">
    <a class="navbar-brand" href="{% url 'dashboard-index' %}">ezAdmin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse hstack gap-3" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="">Purchasing</a>
        </li>
        <li class="nav-item dropdown sticky-dropdown">
          <div class="nav-link-wrapper">
              <a class="nav-link nav-label" href="{% url 'task-list' %}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Order 
              </a>
              <span class="dropdown-caret"></span>
          </div>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'task-order-execution-list' %}">Order Execution</a>
              <a class="dropdown-item" href="{% url 'task-quotation-list' %}">Quotation</a>
              <a class="dropdown-item" href="{% url 'dashboard-customer' %}">Customer List</a>
          </div>
        </li>      
        <li class="nav-item dropdown sticky-dropdown">
          <div class="nav-link-wrapper">
            <a class="nav-link nav-label" href="{% url 'dashboard-inventory-main' %}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Store 
            </a>
            <span class="dropdown-caret"></span>
          </div>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'dashboard-product' %}">Product List</a>
            <a class="dropdown-item" href="">Product Based Inventory</a>
          </div>
        </li>
        <li class="nav-item dropdown sticky-dropdown">
          <div class="nav-link-wrapper">
            <a class="nav-link nav-label" href="{% url 'dashboard-inventory-raw-material-main' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Production
            </a>
            <span class="dropdown-caret"></span>
          </div>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'purchasing-raw-material-identifier-list' %}">Identifier List</a>
            <a class="dropdown-item" href="{% url 'purchasing-raw-material-component-list' %}">Component List</a>
            <a class="dropdown-item" href="{% url 'purchasing-BOM-component-list' %}">BOM Component List</a>
            <a class="dropdown-item" href="{% url 'purchasing-raw-material-inventory-identifier-based-list' %}">Raw Material Identifier Based List</a>
          </div>
        </li>
        <li class="nav-item dropdown sticky-dropdown">
          <div class="nav-link-wrapper">
            <a  class="nav-link nav-label" href="{% url 'purchasing-main' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Purchasing
            </a>
            <span class="dropdown-caret"></span>
          </div>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'purchasing-supplier-list' %}">Supplier List</a>
            <a class="dropdown-item" href="{% url 'purchasing-purchasing-document-list' %}">Purchasing Document</a>
          </div>
        </li>
        <li class="nav-item dropdown sticky-dropdown">
          <div class="nav-link-wrapper">
            <a  class="nav-link nav-label" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Misc
            </a>
            <span class="dropdown-caret"></span>
          </div>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url "dashboard-misc-uom-list" %}">UOM List</a>
            <a class="dropdown-item" href="{% url "dashboard-misc-currency-list" %}">Currency List</a>
          </div>
        </li>
      </ul>
      

      {% if user.is_authenticated %}
      <ul class = "navbar-nav ms-auto">
        <li class = "register-button px-1 nav-item" style="border-right: 1px solid rgba(255, 255, 255, 0.55);">
          <a id="user-nav-link" class="nav-link" href ="{% url 'user-profile' %}">
              {% if user.is_superuser %}
              <i class="fa-solid fa-crown me-1"></i>
              {% else %}
              <i class="fa-solid fa-user me-1"></i>
              {% endif %}
              Profile
          </a>
        </li>
        <li class = "log-in-button px-1 nav-item">
          <a id="logout-nav-link" class="nav-link" href ="{% url 'user-logout' %}">
              <i class="fa-solid fa-right-from-bracket me-1"></i>
              Logout
          </a>
        </li>
      </ul>

      {% else %}
      <ul class = "navbar-nav ms-auto">
        <li class = "register-button px-1 nav-item " style="border-right: 1px solid rgba(255, 255, 255, 0.55);">
          <a id="register-nav-link" class="nav-link" href ="{% url 'user-register' %}">
              <i class="fa-solid fa-user-plus me-1"></i>
              Register
          </a>
        </li>
        <li class = "log-in-button px-1 nav-item">
          <a id="login-nav-link" class="nav-link" href ="{% url 'user-login' %}">
              <i class="fa-solid fa-user me-1"></i>
              Login
          </a>
        </li>
      </ul>
      {% endif %}

    </div>
  </div>    
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
    <a class="navbar-brand mx-auto" href="{% url 'user-login' %}">ezAdmin</a>
</nav>
{% endif %}
<script>
  $(document).ready(function () {
    // Click event for dropdown caret and nav label
    $('.sticky-dropdown .nav-label, .sticky-dropdown .dropdown-caret').click(function (e) {
      e.preventDefault();
      e.stopPropagation();
  
      var dropdown = $(this).closest('.sticky-dropdown');
      var isSticky = dropdown.css('position') === 'sticky';
  
      if ($(this).hasClass('dropdown-caret')) {
        dropdown.css('position', isSticky ? 'static' : 'sticky');
      } else {
        var href = dropdown.find('.nav-label').attr('href');
        if (href) {
          window.location.href = href;
        }
      }
    });
  
    // Close the dropdown if clicked outside of it
    $(document).on('click', function (e) {
      if (!$(e.target).closest('.sticky-dropdown').length) {
        $('.sticky-dropdown').css('position', 'static');
      }
    });
  
    // Get the dropdown items
    var dropdownItems = $('.sticky-dropdown .dropdown-menu a');
  
    // Add a click event handler to each dropdown item
    dropdownItems.click(function (e) {
      e.preventDefault();
      window.location.href = $(this).attr('href');
    });

    $('.nav-link').mouseenter(function() {
      $(this).find('i').addClass('fa-shake'); // Add your hover class
    });

  // Mouse leave event
    $('.nav-link').mouseleave(function() {
        $(this).find('i').removeClass('fa-shake'); // Remove your hover class
    });

  });
  
</script>

