<div class="container-md">
    {% if messages %}
    {% for message in messages %}
    <div class = "alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="welcome-page">

        {% if user.is_authenticated %} 
        <h1>Welcome to ezAdmin, 
            <span id="rotating-text" class="random-move">
                {{ user.username|capfirst }}
            </span>
        </h1>
        {% else %}
        <h1>Welcome to ezAdmin</h1>
        {% endif %}
        <hr>
        <h3 class="text-decoration-underline">What is ezAdmin?</h3>
        <br>
        <p>
            ezAdmin is a comprehensive web-based solution designed to streamline administrative tasks, 
            minimize manual workload, automate repetitive processes, and create a centralized management 
            system for your organization. This powerful tool is engineered with the aim of simplifying and 
            enhancing the overall administrative experience, enabling your team to focus on more strategic and 
            value-added activities.
        </p>
        <br>
        <h3 class="text-decoration-underline">Key Objectives:</h3>
        <ol>
            <li>
                Efficiency Enhancement: ezAdmin aims to optimize the efficiency of administrative operations by automating routine tasks, reducing human errors, and improving data accuracy.
            </li>
            <li>
                Centralized Management: The system centralizes various administrative functions, including inventory management, document generation, and data analysis, providing a single platform for all your administrative needs.
            </li>
            <li>
                Workload Reduction: By automating mundane and time-consuming tasks, ezAdmin helps reduce the workload on administrative staff, allowing them to allocate more time to critical tasks.
            </li>
            <li>
                Data-Driven Decision Making: Through advanced data analysis and visualization tools, ezAdmin empowers your organization to make informed, data-driven decisions based on real-time information.
            </li>
            <li>
                User-Friendly Interface: The user-friendly interface ensures that employees across different departments can easily navigate and utilize the system, enhancing overall usability.
            </li>
            <li>
                Scalability: ezAdmin is designed to adapt and scale with your organization's evolving administrative requirements, ensuring it remains a valuable asset as your company grows.
            </li>
        </ol>
        <br>
        <h3 class="text-decoration-underline">This webapps/project consist of 5 major component/apps which are:</h3>
            <ol>
                <li>Store</li>
                <li>Production</li>
                <li>Purchasing</li>
                <li>Misc</li>
                <li>Office</li>
            </ol>
        <br>
        <button class = 'button-56'><a href="{% url 'dashboard-documentation' %}" style="text-decoration: none; color: white;">
            Read more here ->
        </a>
        </button>
    </div>
</div>
