{% extends 'partials/base.html' %}
{% block tittle %} Quotation{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3">
                {% for message in messages %}
                {% if message %}
                <div class = "alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                <h3>Update {{quotation.customer_id}}'s Quotation ({{quotation}})?</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ quotation_form|crispy}}
                    {{ quotationitem_formset|crispy}}
                    <a class="btn btn-light"  href = "{% url 'task-quotation-list' %}"> Cancel</a>
                    <input class="btn btn-success" type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>    
</div>
{% endblock %}