{% extends 'partials/base.html' %}
{% block tittle %} Quotation{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3">
                {% for message in messages %}
                {% if message %}
                <div class = "alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                <h3>Create Quotation</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ quotation_form|crispy}}
                    {{ quotationitem_formset.management_form }}
                    {% for form in quotationitem_formset %}
                        {{ form|crispy }}
                    {% endfor %}
                    </div>
                    <div id="quotationitem-pool" style="display: none;">
                        {% for i in quotationitem_formset.empty_form %}
                            {{ i|crispy}}
                        {% endfor %}
                    </div>
                    
                    <button type="button" id="add_quotationitem">Add Quotation Item</button>
                    <a class="btn btn-light"  href = "{% url 'dashboard-product' %}"> Cancel</a>
                    <input class="btn btn-success" type="submit" value="Create">
                </form>
            </div>
        </div>
    </div>    
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const addButton = document.getElementById("add_quotationitem");
        const pool = document.getElementById("quotationitem-pool");
    
        addButton.addEventListener("click", function() {
            const newForm = pool.firstElementChild.cloneNode(true);
            document.getElementById("id_form-TOTAL_FORMS").value++;
            newForm.innerHTML = newForm.innerHTML.replace(/form-(\d+)/g, `form-${document.getElementById("id_form-TOTAL_FORMS").value - 1}`);
            pool.appendChild(newForm);
        });
    });
</script>   
{% endblock %}