{% extends 'base.html' %}

{% block content %}
  <button id="update-button">Update Details</button>
  <div>DO Number: <span id="do-number"></span></div>
  <div>Invoice Number: <span id="inv-number"></span></div>
  <div>Delivery Method: <span id="delivery-method"></span></div>
  <div>Tracking Number: <span id="tracking-number"></span></div>
  <div>Quotation Details:</div>
  <div>Doc Number: <span id="doc-number"></span></div>
  <div>Customer Name: <span id="customer-name"></span></div>
  <div>Quotation Items:</div>
  <ul id="quotation-items"></ul>
  
{% endblock %}

{% block javascript %}

$(document).ready(function () {
  $('#update-button').on('click', function () {
      var orderExecutionId = /* Get the order execution ID from somewhere */;
      $.ajax({
          type: 'GET',
          url: '/task/test/',
          data: {
              order_execution_id: orderExecutionId,
          },
          success: function (data) {
              // Update HTML elements with data received from the server
              $('#do-number').text(data.order_execution_details.do_number);
              $('#inv-number').text(data.order_execution_details.inv_number);
              $('#delivery-method').text(data.order_execution_details.delivery_method);
              $('#tracking-number').text(data.order_execution_details.tracking_number);

              // Update quotation details
              $('#doc-number').text(data.quotation_details.doc_number);
              $('#customer-name').text(data.quotation_details.customer_name);

              // Update quotation item details
              var quotationItemsHtml = '';
              $.each(data.quotation_item_details, function (index, item) {
                  quotationItemsHtml += '<li>' + item.product_name + ': ' + item.price + ', Quantity: ' + item.quantity + '</li>';
              });
              $('#quotation-items').html(quotationItemsHtml);
          },
      });
  });
});

{% endblock %}