{% extends 'base.html' %}

{% block content %}
  <h1>Order Executions</h1>
  <ul>
    {% for order_execution in order_executions %}
      <li>
        <strong>DO Number:</strong> {{ order_execution.do_number }}<br>
        <strong>INV Number:</strong> {{ order_execution.inv_number }}<br>
        <strong>Delivery Method:</strong> {{ order_execution.delivery_method }}<br>
        <strong>Tracking Number:</strong> {{ order_execution.tracking_number }}<br>

        <!-- Display related Quotation and QuotationItem information -->
        <strong>Customer Name:</strong> {{ order_execution.quotation_id.customer_id.name }}<br>
        <strong>Quotation ID:</strong> {{ order_execution.quotation_id.id }}<br>

        <!-- Loop through related QuotationItems -->
        <ul>
          {% with total_price=0 %}
          {% for quotation_item in order_execution.quotation_id.quotationitem_set.all %}
            <li>
              <strong>Product:</strong> {{ quotation_item.product.name }}<br>
              <strong>Price:</strong> {{ quotation_item.price }}<br>
              <strong>Quantity:</strong> {{ quotation_item.quantity }}<br>
              <strong>Subtotal:</strong> {{ quotation_item.price|floatformat:"2" }} x {{ quotation_item.quantity }} = {{ quotation_item.price|floatformat:"2"|floatmultiply:quotation_item.quantity|floatformat:"2" }}<br>
              {% with subtotal=quotation_item.price|floatmultiply:quotation_item.quantity %}
                {% with total_price=total_price|floatadd:subtotal %}
                {% endwith %}
              {% endwith %}
            </li>
          {% endfor %}
          <li><strong>Total Price:</strong> {{ total_price|floatformat:"2" }}</li>
          {% endwith %}
        </ul>

        <!-- Add more fields as needed -->
      </li>
    {% endfor %}
  </ul>
  <a class="btn btn-light" href="{% url 'task-list' %}">Back to Task List</a>
{% endblock %}