{% extends 'partials/base.html' %}
{% block title %} Add Currency{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3">
                    {% for message in messages %}
                    {% if message %}
                    <div class = "alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <h3>Add Currency</h3>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <a class="btn btn-light"  href = "{% url 'misc-currency-list' %}"> Cancel</a>
                        <input class="btn btn-success" type="submit" value="Create Currency">
                    </form>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}