:root {
    --primary-ezadmin: #05161a;
    --primary-shade-ezadmin: #072e33;
    --secondary-ezadmin: #6da5c0;
    --secondary-shade-ezadmin: #000;
    --accent-ezadmin: #119CA3;
    --accent-shade-ezadmin: #0e878d;
}

body {
    background-color: var(--primary-ezadmin);
    color: var(--secondary-ezadmin);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#navBar {
    background-color: var(--primary-ezadmin);
}

#navBar2{
    background-color: var(--primary-ezadmin);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
  }

.navbar-brand {
    color: var(--secondary-ezadmin);
}

.navbar-brand:focus, .navbar-brand:hover {
    color: var(--secondary-ezadmin);
  }

.navbar .navbar-nav .nav-link {
    color: var(--secondary-ezadmin);
}

.navbar .navbar-nav .nav-link:hover {
    color: #fcfcfd;
}

.dropdown-caret {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color: var(--secondary-ezadmin);
    margin: 3px 3px 0px -2px;
  }
  
.dropdown-caret:hover {
    color: #fcfcfd;
}

.dropdown-menu {
    background-color: var(--primary-ezadmin);
}

.dropdown-item {
    color: var(--secondary-ezadmin)
}

.dropdown-item:hover {
    background-color: var(--primary-shade-ezadmin);
    color: var(--secondary-ezadmin)
}

.dropdown-item:active {
    background-color: var(--accent-shade-ezadmin);
    color: var(--secondary-shade-ezadmin)
}

#main-page{
    background-color: var(--primary-ezadmin);
}

#breadCrumbsNav {
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='white'/%3E%3C/svg%3E");
}

.card {
    background-color: var(--primary-shade-ezadmin);
}

.form-text {
    color: var(--secondary-ezadmin);
  }

.btn-accent {
    background-color: var(--accent-ezadmin);
    border: 1px solid var(--accent-ezadmin);
    color: var(--secondary-shade-ezadmin)
  }

.btn-accent:hover {
    background-color: var(--accent-shade-ezadmin);
    border: 1px solid var(--accent-shade-ezadmin);
    color: var(--secondary-shade-ezadmin)
}

.btn-accent:active {
    background-color: var(--accent-shade-ezadmin);
    border: 1px solid var(--accent-shade-ezadmin);
    color: var(--secondary-shade-ezadmin)
}

.btn-accent:focus {
    background-color: var(--accent-shade-ezadmin);
    border: 1px solid var(--accent-shade-ezadmin);
    color: var(--secondary-shade-ezadmin)
}

footer {
    background-color: var(--primary-ezadmin);
    color: var(--secondary-ezadmin);
}

.btn.btn-outline-dark {
    /* Your custom styles here */
    color: var(--secondary-ezadmin); /* Custom text color */
    border-color: var(--secondary-ezadmin); /* Custom border color */
}
  
  /* Add hover styles if needed */
.btn.btn-outline-dark:hover {
    color: #21251F; 
    background-color: var(--secondary-ezadmin); /* Custom background color on hover */
    border-color: var(--secondary-ezadmin)0; /* Custom border color on hover */
}

.version {
    color: var(--secondary-ezadmin);
}