tr, th, td {
    text-align: center;
    vertical-align: middle;
}

html {
    height: 100%;
}

  body {
      margin: 0;
      min-height: 100%;
      display: flex;
      flex-direction: column;
  }
  
  footer {
      background-color: #f1f1f1;
      padding: 10px;
      margin-top: auto; /* This pushes the footer to the bottom */
  }

  .main {
      max-width: 1400px; /* Set your desired maximum width */
      margin: 0 auto; /* Center the container */
      padding: 10px;
  }
  .stack-icon{
    width: 20px; /* Adjust the width to your desired size */
    height: 20px; /* Adjust the height to your desired size */
    margin: 2px; /* Optional: Add some margin between icons */
  }
  .custom-active {
    /* Your custom styling for the active item */
    color: #6c757d; /* Change the text color to red as an example */
    /* Add any other styles you want to customize */
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  