:root {
  --primary-ezadmin: #f5f3ee;
  --primary-shade-ezadmin: #FAF9F6;
  --secondary-ezadmin: #06142e;
  --secondary-shade-ezadmin: #000;
  --accent-ezadmin: #f1916d;
  --accent-shade-ezadmin: #ee7c51;
}

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

tr, th, td {
    text-align: center;
    vertical-align: middle;
}

a {
  text-decoration: none;
}

a.no-decoration {
    text-decoration: none;
    color: inherit;
}

html {
    height: 100%;
    width:100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-shade-ezadmin-ezadmin);
    color: var(--secondary-ezadmin);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#navBar {
  background-color: var(--primary-ezadmin);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}

#navBar2{
  background-color: var(--primary-ezadmin);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}

.nav-link-wrapper {
  display: flex;
  align-items: center;
}

.navbar-brand {
  color: var(--secondary-shade-ezadmin);
}

.navbar-brand:hover {
  color: var(--secondary-shade-ezadmin);
}

#user-nav-link:hover {
  color: #ffc107;
}

#logout-nav-link:hover {
  color: #AC081D;
}

#login-nav-link:hover {
  color: #0d6efd;
}

.register-button {
  border-right: 1px solid var(--secondary-ezadmin);
}

#register-nav-link:hover {
  color: #198754;
}

.navbar .navbar-nav .nav-link{
  color: var(--secondary-ezadmin);
}

.navbar .navbar-nav .nav-link:hover{
  color:var(--secondary-shade-ezadmin);
}

.dropdown-menu {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  opacity: 1;
  transition-delay: 1s; /* Adjust the delay as needed */
}

.sticky-dropdown {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.dropdown-caret {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  color: var(--secondary-ezadmin);
  margin: 3px 3px 0px -2px;
}

.dropdown-caret:hover {
  color: var(--secondary-shade-ezadmin);
}

.dropdown-menu {
  background-color: var(--primary-ezadmin);
}

.dropdown-item {
  color: var(--secondary-ezadmin)
}

.dropdown-item:hover {
  background-color: var(--accent-ezadmin);
  color: var(--secondary-ezadmin)
}

.dropdown-item:active {
  background-color: var(--accent-shade-ezadmin);
  color: var(--secondary-shade-ezadmin)
}

.disabled-dropdown {
  pointer-events: none;
  background-color: #f0f0f0; 
}

/* nightmode toggle*/
#div-dark-mode-toggle .form-check-input{
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z' /%3e%3c/svg%3e");
  margin-left: -2.5em;
  background-image: var(--bs-form-switch-bg);
  background-position: left center;
  border-radius: 2em;
  transition: background-position .15s ease-in-out;
  background-repeat: no-repeat;
  padding: 0.5em 0px;
}

#div-dark-mode-toggle .form-check-input:checked {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z' /%3e%3c/svg%3e");
  margin-left: -2.5em;
  background-image: var(--bs-form-switch-bg);
  background-color: #6da5c0;
  background-position: right center;
  border-radius: 2em;
  transition: background-position .15s ease-in-out;
  padding: 0.5em 0px;
}


/* others */
.main {
  margin: 0 auto; /* Center the container */
  padding: 10px 0px 10px 0px;
}

#main-page{
height: 100vh;
box-sizing: border-box;
flex: 1;
min-height: 100vh;
max-width: 100vw;
}

#breadCrumbsNav {
  --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");
}

.card-body {
  flex: 1 1 0;
  padding: 1.25rem;
  height:100%;
}

.card {
  background-color: var(--primary-ezadmin);
}

.btn-accent {
  background-color: var(--accent-ezadmin);
  border: 1px solid var(--accent-ezadmin);
}

.btn-accent:hover {
  background-color: var(--accent-shade-ezadmin);
  border: 1px solid var(--accent-shade-ezadmin);
}

.btn.btn-accent:active {
  background-color: var(--accent-shade-ezadmin);
  border: 1px solid var(--accent-shade-ezadmin)1;
}

.btn-accent:focus {
  background-color: var(--accent-shade-ezadmin);
  border:  1px solid var(--accent-shade-ezadmin);
}

footer {
    background-color: var(--primary-ezadmin);
    box-shadow: rgba(0, 0, 0, 0.45) 0px -20px 20px -20px;
    padding: 10px;
    margin-top: auto; /* This pushes the footer to the bottom */
    flex-shrink: 0;
}

.modal-content {
  background-color: var(--primary-ezadmin);
}

.stack-icon{
  width: 20px; 
  height: 20px; 
  margin: 2px; 
}

.custom-active {
  color: #6c757d; /* Change the text color to red as an example */
}

.version {
  color: var(--secondary-ezadmin);
  font-size: 10px;
}

/* custom button */
.button-56 {
  align-items: center;
  background-color: var(--accent-ezadmin);
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: var(--accent-shade-ezadmin);
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
