tr, th, td {
    text-align: center;
    vertical-align: middle;
}

html {
    height: 100%;
}

  body {
      margin: 0;
      min-height: 100%;
      display: flex;
      flex-direction: column;
  }
  
  footer {
      background-color: #f1f1f1;
      padding: 10px;
      margin-top: auto; /* This pushes the footer to the bottom */
  }

  .main {
      max-width: 1400px; /* Set your desired maximum width */
      margin: 0 auto; /* Center the container */
      padding: 10px;
  }