<div class="col-md-8 offset-md-2">
    <table class="table table-borderless">
        <thead>
            <span class="h4">Product Inventory</span class="h4">
            <hr>
        </thead>
        <tbody>
            <tr>
                <th>Name</th>
                <th>Item Code</th>
                <th>Brand</th>
                <th>Packing</th>
                <th>UOM</th>
                <th>Quantity</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.item_code }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.packing }}</td>
                <td>{{ item.uom }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>                            
    </table>