{% extends 'partials/base.html' %}
{% block title %} Delete Production Log{% endblock %}

{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3">
                    {% for message in messages %}
                    {% if message %}
                    <div class = "alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <h3>Deleting Production Log</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>Are you sure you want to delete {{ProductionLog.lot_number}} batch for {{ProductionLog.BOMComponents.all.0.product.item_code}}?</h4>
                    </div>
                    <form method = "POST">
                        {% csrf_token %}
                        <a class="btn btn-light"  href = "{% url 'production-production-log-list' %}"> Cancel</a>
                        <input class = "btn btn-danger" type="submit" value = "Delete Production Log">
                    </form>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}