{% extends 'partials/base.html' %}
{% block title %} Delete Identifier{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3">
                    {% for message in messages %}
                    {% if message %}
                    <div class = "alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <h3>Deleting Identifer</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>Are you sure you want to delete {{identifier.parent_item_code}}?</h4>
                    </div>
                    <form method = "POST">
                        {% csrf_token %}
                        <a class="btn btn-light"  href = "{% url 'production-raw-material-identifier-list' %}"> Cancel</a>
                        <input class = "btn btn-danger" type="submit" value = "Confirm">
                    </form>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}