{% extends 'partials/base.html' %}
{% block title %} Raw Material Component List{% endblock %}

{% block content %}
<body>
    <div class="container-md my-3">
        {% for message in messages %}
        {% if message %}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <div class="hstack">
            <span class="h3" style="margin-bottom: 0px;">Raw Material Component List</span>
            <a class="btn btn-success btn-sm ms-auto" id="addComponent" href="{% url 'production-raw-material-component-create' %}">
                <i class="fa-solid fa-plus me-1"></i>
                Add Component
            </a>
        </div>
        <hr>
        <div class="btn-group-horizontal mb-3" id="filter-label" role="group" aria-label="horizontal radio toggle button group">
            <input type="radio" class="btn-check" id="vbtn-radio1" name="vbtn-radio"  autocomplete="off" checked data-identifier="main-page">
            <label class="btn btn-outline-primary" for="vbtn-radio1">
                <a class="no-decoration">
                    Main Page
                </a>
            </label>
        </div>
        <div class="table-responsive">
            <table class="table table-borderless table-striped table-hover">
                <thead class = "table-dark">
                    <tr>
                        <th>No.</th>
                        <th>Identifier</th>
                        <th>Component</th>
                        <th>Specifications</th>
                        <th>Created Date</th>
                        <th>Activity</th>
                    </tr>
                </thead>
                <tbody id="logs-table-body"> 
                    {% for component in components %}       
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{component.identifier}}</td>
                        <td>{{component.component}}</td>
                        <td>{{component.spec}}</td>
                        <td>{{component.create_date}}</td>
                        <td>
                            <div class = "d-grid">
                                    <a class="btn btn-outline-primary btn-sm btn-block" href ="{% url 'production-raw-material-component-update' component.id %} ">
                                        Edit
                                    </a>
                                    <a class="btn btn-outline-success btn-sm btn-block" href ="">
                                        Validate
                                    </a>
                                    <a class="btn btn-outline-danger btn-sm btn-block" href ="{% url 'production-raw-material-component-delete' component.id %} ">
                                        Delete
                                    </a>
                                </ul>
                            </div>    
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>  
                <tfoot id="table-footer">
                    {% if not components %}
                    <tr class="table-group-divider">
                        <td colspan="6" class="fw-bold">
                            <hr>
                            No components available, please add in
                            <hr>
                        </td>
                    </tr>
                    {% endif %}
                </tfoot>                          
            </table>
        </div>
    </div>
</body>
<script>
    responsiveButtonText('addComponent')

    var baseUrl = "{% url 'production-raw-material-component-list-ajax' %}";
    componentLogFilter()
</script>
{% endblock %}