{% extends 'partials/base.html' %}
{% block tittle %} Add Raw Material Inventory{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3">
                    {% for message in messages %}
                    {% if message %}
                    <div class = "alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% if form.initial.stock_type == '1' %}
                    <h3>Log-In Raw Material Inventory</h3>
                    {% endif %}
                    {% if form.initial.stock_type == '2' %}
                    <h3>Log-Out Raw Material Inventory</h3>
                    {% endif %}
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <a class="btn btn-light"  href = ""> Cancel</a>
                        <input class="btn btn-success" type="submit" value="Create Inventory Log">
                    </form>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}