{% extends 'partials/base.html' %}
{% block titte %} Currency List{% endblock %}

{% block content %}
<body>
    <div class="container-md table-responsive">
        {% for message in messages %}
        {% if message %}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <table class="table table-borderless table-striped table-hover">
            <div class="hstack">
                <span class="h3" style="margin-bottom: 0px;">Currency List</span class="h4">
                <a class="btn btn-success btn-sm ms-auto" href="{% url 'dashboard-misc-currency-create' %}">
                    <i class="fa-solid fa-plus me-1"></i>
                    Add Currency
                </a>
            </div>
            <hr>
            <thead class = "table-dark">
                <tr>
                    <th>No.</th>
                    <th>Currency</th>
                    <th>Currency Code</th>
                    <th>Created Date</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody> 
                {% for currency in currencies %}       
                <tr>    
                    <td>{{forloop.counter}}</td>
                    <td>{{currency.name}}</td>
                    <td>{{currency.currency_code}}</td>
                    <td>{{currency.create_date}}</td>
                    <td>
                        <div class = "d-grid">
                                <a class="btn btn-outline-primary btn-sm btn-block" href ="{% url 'dashboard-misc-currency-update' currency.id %}">
                                    Edit
                                </a>
                                <a class="btn btn-outline-success btn-sm btn-block" href ="">
                                    Validate
                                </a>
                                <a class="btn btn-outline-danger btn-sm btn-block" href ="{% url 'dashboard-misc-currency-delete' currency.id %}">
                                    Delete
                                </a>
                            </ul>
                        </div>    
                    </td>
                </tr>
                {% endfor %}
            </tbody>                            
        </table>
    </div>
</body>
</html>
{% endblock %}