{% extends 'partials/base.html' %}
{% block tittle %} Product Details{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<head>
    <style>
        tr, th, td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div class="col-md-10 offset-md-1 table-responsive">
        {% for message in messages %}
        {% if message %}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <table class="table table-borderless table-striped table-hover">
            <span class="h4">{{items}}({{items.item_code}})</span class="h4">
            <a class="btn btn-info btn-sm float-right" href="{% url 'dashboard-product-inventory-add' items.id %}">Add Inventory</a>
            <hr>
            <thead class = "thead-dark">
                <tr>
                    <th>Item Code</th>
                    <th>Lot Number</th>
                    <th>Expiry Date</th>
                    <th>Stock In Date</th>
                    <th>Stock Out Date</th>
                    <th>Quantity</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody>     
                {% for stock in stocks %}            
                <tr>
                    <td>{{ items.item_code }}</td>
                    <td>{{ stock.lot_number }}</td>
                    <td>{{ stock.expiry_date }}</td>
                    <td>{{ stock.stock_in_date }}</td>
                    <td>{{ stock.stock_out_date }}</td>
                    {% if stock.type == '2'%}
                    <td>-{{ stock.quantity }}</td>
                    {% else %}
                    <td>{{ stock.quantity }}</td>
                    {% endif%}
                    <td>
                        <div class = "d-grid">
                                <a class="btn btn-outline-primary btn-sm btn-block" href ="{% url 'dashboard-product-inventory-update' items.id stock.id %}">
                                    Edit
                                </a>
                                <a class="btn btn-outline-success btn-sm btn-block" href ="">
                                    Validate
                                </a>
                                <a class="btn btn-outline-danger btn-sm btn-block" href ="{% url 'dashboard-product-inventory-delete' items.id stock.id %}">
                                    Delete
                                </a>
                            </ul>
                        </div>    
                    </td>
                </tr>
                {% endfor %}
            </tbody>                            
        </table>
    </div>
</body>
{% endblock %}