{% extends 'partials/base.html' %}
{% block tittle %} Product's List{% endblock %}

{% block content %}
<body>
    <div class="col-md-10 offset-md-1 table-responsive">
        {% for message in messages %}
        {% if message %}
        <div class = "alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <table class="table table-borderless table-striped table-hover">
            <span class="h4">Product Inventory</span class="h4">
            <a class="btn btn-info btn-sm float-right" href="{% url 'dashboard-product-add' %}">Add Product</a>
            <hr>
            <thead class = "thead-dark">
                <tr>
                    <th>Item Code</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Packing</th>
                    <th>UOM</th>
                    <th>Quantity</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody>        
                {% for item in items %}
                <tr>
                    <td><a href="{% url 'dashboard-product-inventory-list' item.id%}">{{ item.item_code }}</a></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.brand }}</td>
                    <td>{{ item.packing }}</td>
                    <td>{{ item.uom }}</td>
                    {% for key, value in stocks.items %}
                    {% if item.id == key%}
                    <td>{{value}}</td>
                    {% endif %}
                    {% endfor %}
                    <td>
                        <div class = "d-grid">
                                <a class="btn btn-outline-primary btn-sm btn-block" href ="{% url 'dashboard-product-update' item.id %}">
                                    Edit
                                </a>
                                <a class="btn btn-outline-success btn-sm btn-block" href ="">
                                    Validate
                                </a>
                                <a class="btn btn-outline-danger btn-sm btn-block" href ="{% url 'dashboard-product-delete' item.id %}">
                                    Delete
                                </a>
                            </ul>
                        </div>    
                    </td>
                </tr>
                {% endfor %}
            </tbody>                            
        </table>
    </div>
</body>
</html>
{% endblock %}