{% extends 'partials/base.html' %}
{% block tittle %} Delete Product{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3">
                    <h3>Deleting Items</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>Are you sure you want to delete {{ deleted_item }}?</h4>
                    </div>
                    <form method = "POST">
                        {% csrf_token %}
                        <a class="btn btn-light"  href = "{% url 'dashboard-product' %}"> Cancel</a>
                        <input class = "btn btn-danger" type="submit" value = "Confirm">
                    </form>
                    
                </div>
            </div>
        </div>    
    </div>
{% endblock %}