{% extends 'partials/base.html' %}
{% block tittle %} Task{% endblock %}

{% block content %}
<body>
    <div class="col-md-10 offset-md-1 table-responsive">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Order Execution Tab</h3>
                    <p class="card-text">To view, create, update and delete order execution list.</p>
                    <a href="{% url 'task-order-execution-list' %}" class="btn btn-primary">View Order Execution List</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Quotation Tab</h3>
                    <p class="card-text">To view, create, update and delete quoatation list.</p>
                    <a href="{% url 'task-quotation-list' %}" class="btn btn-primary">View Quotation List</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
