{% extends 'partials/base.html' %}
{% block tittle %} Order{% endblock %}

{% block content %}
<body>
    <div class="container-md">
        <h2 class = "text-center">Order Main Page</h2>
        <hr>
        <div class="card-deck row gy-4">
            <div class="col">
                <div class="card card-body d-flex flex-column">
                    <h3 class="card-title">Order Execution Tab</h3>
                    <p class="card-text py-3">To view, create, update and delete order execution list.</p>
                    <a class="btn btn-primary mt-auto" href="{% url 'task-order-execution-list' %}">View Order Execution List</a>
                </div>
            </div>
            <div class="col">
                <div class="card card-body d-flex flex-column">
                    <h3 class="card-title">Quotation Tab</h3>
                    <p class="card-text py-3">To view, create, update and delete quoatation list.</p>
                    <a class="btn btn-primary mt-auto" href="{% url 'task-quotation-list' %}">View Quotation List</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
