{% extends 'partials/base.html' %}
{% block tittle %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-6 offset-md-3">
                
                <div class="border p-3">
                    <h3 class="text-center">Login Here</h3>
                    <hr>
                    <form method = "POST" class="d-flex flex-column">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <input class = "btn btn-primary my-3" type ="submit" value = "Login">
                        <a class = "mx-4 text-center" href = "{% url 'password_reset' %}"> Forget Password? </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock%}