{% extends 'partials/base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        #main-page{
            margin-bottom: 0px;
        }
    </style>
    <div class="container" id="log-in">
        <div class="row" style="min-height:45vh;">
            <div class="col-sm-6 offset-sm-3">
                {% if messages %}
                {% for message in messages %}
                <div class = "alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="border p-3 custom-form">
                    <div id="divDarkModeToggle" class="nav-item d-flex align-items-center justify-content-center py-1">
                        <div class="form-check form-switch d-flex align-items-center" id="div-dark-mode-toggle" style="margin:0px; padding:0px">
                          <input class="form-check-input" id="dark-mode-toggle" type="checkbox" role="switch" style="height:1.5em; width:1.5em; margin-left: 0px"checked data-is-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}">
                        </div>
                    </div>
                    <h3 class="text-center">Login Here</h3>
                    <hr>
                    <form method = "POST" class="d-flex flex-column">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <input class = "btn btn-primary mb-2 mt-3" type ="submit" value = "Login">
                        <a class = "btn btn-success mb-2" href ="{% url 'user-register' %}">
                            Register Account
                        </a>
                        <a class = "mx-4 text-center" href = "{% url 'password_reset' %}"> Forget Password? </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock%}

{% block attr %}
<a href="https://www.freepik.com/free-vector/people-working-together-project-office-room-isometric-colored-object-white-background-isolated-vector-illustration_40273571.htm#page=2&query=office%20illustraion&position=29&from_view=search&track=ais&uuid=55af9f93-3025-414c-987c-363005e0239d">Image by macrovector</a> on Freepik

{% endblock %}