{% extends 'partials/base.html' %}
{% block tittle %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-2" style="min-height:45vh;">
            <div class="col-md-6 offset-md-3 my-auto">
                {% if messages %}
                {% for message in messages %}
                <div class = "alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="border p-3">
                    <h3 class="text-center">Login Here</h3>
                    <hr>
                    <form method = "POST" class="d-flex flex-column">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <input class = "btn btn-primary mb-2 mt-3" type ="submit" value = "Login">
                        <a class = "btn btn-success mb-2" href ="{% url 'user-register' %}">
                            Register Account
                        </a>
                        <a class = "mx-4 text-center" href = "{% url 'password_reset' %}"> Forget Password? </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock%}