{% extends 'partials/base.html' %}
{% block title %}Logout{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row my-3" style="min-height:45vh;">
        {% if messages %}
            {% for message in messages %}
            <div class = "alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        <div class="col-md-6 offset-md-3 my-auto">
            <div class="border p-3">
                <div id="divDarkModeToggle" class="nav-item d-flex align-items-center justify-content-center py-1">
                    <div class="form-check form-switch d-flex align-items-center" id="div-dark-mode-toggle" style="margin:0px; padding:0px">
                      <input class="form-check-input" id="dark-mode-toggle" type="checkbox" role="switch" style="height:1.5em; width:1.5em; margin-left: 0px"checked>
                    </div>
                </div>
                <h3 class="text-center">Logout Page</h3>
                <hr>
                <div class="d-flex flex-column" style="height: 265px;">
                    <div class="alert alert-danger">
                        <h4>You have been log out from the account. Please login again if you want to continue.</h4>
                    </div>
                    <a class="btn btn-primary" style="margin-top: 82px;" href = "{% url 'user-login' %}">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock%}