{% extends 'partials/base.html' %}
{% block tittle %}Logout{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-2" style="height:45vh;">
        <div class="col-md-6 offset-md-3 my-auto">
            <div class="border p-3" style="min-height: 367.65px; min-width: 542px;">
                <h3 class="text-center">Logout Page</h3>
                <hr>
                <div class="d-flex flex-column" style="height: 265px;">
                    <div class="alert alert-danger">
                        <h4>You have been log out from the account. Please login again if you want to continue.</h4>
                    </div>
                    <a class="btn btn-primary" style="margin-top: 82px;" href = "{% url 'user-login' %}">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock%}