{% extends 'partials/base.html' %}
{% block title %} Password Reset Done{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    #main-page{
        margin-bottom: 0px;
    }
</style>
<div class="container" id="reset-done">
    <div class="row my-3" style="min-height:45vh;">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3 custom-form">
                <div id="divDarkModeToggle" class="nav-item d-flex align-items-center justify-content-center py-1">
                    <div class="form-check form-switch d-flex align-items-center" id="div-dark-mode-toggle" style="margin:0px; padding:0px">
                      <input class="form-check-input" id="dark-mode-toggle" type="checkbox" role="switch" style="height:1.5em; width:1.5em; margin-left: 0px"checked>
                    </div>
                </div>
                <h3 class="text-center">Password Reset Done Page</h3>
                <hr>
                <div class="d-flex flex-column">
                    <div class="alert alert-success">
                        <h4>Your Password have been reset. A reset password email have been sent to your registered email</h4>
                    </div>
                    <a class = "btn btn-primary mb-2" href ="{% url 'user-login' %}">
                        Log-In
                    </a>
                </div>
                
            </div>
        </div>
    </div>    
</div>
{% endblock%}
{% block attr %}
<a href="https://www.freepik.com/free-vector/mail-sent-concept-illustration_4957160.htm#query=email%20send&position=20&from_view=search&track=ais&uuid=d138e39d-af8b-4e34-afad-d8691e33ca66">Image by storyset</a> on Freepik
{% endblock %}