{% extends 'partials/base.html' %}
{% block title %} Reset Password{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row my-3" style="min-height:45vh;">
            <div class="col-md-6 offset-md-3 my-auto">        
                <div class="border p-3">
                    <h3 class="text-center">Reset Password Page</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>Are you sure to reset your password?</h4>
                    </div>
                    <form method = "POST" class="d-flex flex-column">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <input class ="btn btn-danger mt-3" type ="submit" value = "Reset Password">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock%}