{% extends 'partials/base.html' %}
{% block tittle %} Password Reset Complete{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3">
                <h3>Password Reset Complete Page</h3>
                <hr>
                <div class="alert alert-success">
                    <h4>Your password have been updated</h4>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock%}