{% extends 'partials/base.html' %}
{% block tittle %} Password Reset Done{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-2">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3">
                <h3>Password Reset Done Page</h3>
                <hr>
                <div class="alert alert-success">
                    <h4>Your Password have been reset. A reset password email have been sent to your registered email</h4>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock%}