{% extends 'partials/base.html' %}
{% block tittle %} Reset Password{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-6 offset-md-3">        
                <div class="border p-3">
                    <h3>Reset Password Page</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>Are you sure to reset your password?</h4>
                    </div>
                    <form method = "POST">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <input class = "btn btn-danger" type ="submit" value = "Reset Password">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock%}