{% extends 'partials/base.html' %}
{% block title %} Password Reset Complete{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3 d-flex flex-column">
                <h3>Password Reset Complete Page</h3>
                <hr>
                <div class="alert alert-success">
                    <h4>Your password have been updated</h4>
                </div>
                <a class="btn btn-accent" style="margin-top: 82px;" href = "{% url 'user-login' %}">
                    Login
                </a>
            </div>
        </div>
    </div>    
</div>
{% endblock%}