{% extends 'partials/base.html' %}
{% block title %} Set New Password{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-6 offset-md-3">    
                <div class="border p-3">
                    <h3>Set New Password Page</h3>
                    <hr>
                    <form method = "POST" class="d-flex flex-column">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <input class = "btn btn-primary" type ="submit" value = "Confirm Password">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock%}