{% extends 'partials/base.html' %}
{% block title %} Profile Update{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-md-6 offset-md-3">
            {% if messages %}
            {% for message in messages %}
            <div class = "alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="row p-3">
                <div class="border p-3">
                    <form method ="POST" enctype = "multipart/form-data" class="">
                        <div>
                            <span class="h4">Edit Profile Information</span class="h4">
                        </div>
                        <hr>
                        <div class="d-flex justify-content-center mb-4">
                            <img class="img-thumbnail" src="{{ user.profile.image.url }}" alt="profile-image" width="250" height="350">
                        </div class="mt-3">

                        {% csrf_token %}
                        {{ user_update_form|crispy }}
                        {{ password_change_form|crispy }}
                        {{ profile_update_form|crispy }}
                        
                        <div class="d-flex flex-column mt-5">
                            <button class="btn btn-accent btn-block mb-2" type="submit">
                                <i class="fa-solid fa-check me-1"></i>
                                Update profile
                            </button>
                            <a class="btn btn-outline-primary btn-block" href="{% url 'user-profile' %}">
                                <i class="fa-solid fa-xmark me-1"></i>
                                Cancel Update
                            </a>
                        </div>
                        <script>
                            $(document).ready(function($) {

                                var input = $("#id_phone");

                                // Save the initial value
                                var initialValue = input.val();

                                // Check if the initial value contains the country code
                                var hasCountryCode = initialValue.startsWith("+");

                                if (hasCountryCode) {
                                    // Remove the country code
                                    initialValue = initialValue.replace(/\D/g, '');
                                }
                                
                                input.intlTelInput({
                                    preferredCountries: ["my"],  
                                    nationalMode: true,
                                    separateDialCode: true,
                                });

                                // Save the initial value
                                var initialValue = input.val();

                                // Remove the country code from the initial value
                                var numericValue = initialValue.replace(/\D/g, '');
                                initialValue = "+" + numericValue;

                                // Set the initial value without the country code
                                input.val(numericValue);

                                // Add the country code back on form submission
                                $("form").submit(function() {
                                    // Get the current input value
                                    var currentValue = input.val().slice(0, 2) + "-" + numericValue.slice(2, 5) + " " + numericValue.slice(5, 9);

                                    // Add the country code back to the value
                                    var countryCode = input.intlTelInput("getSelectedCountryData").dialCode;
                                    input.val("+" + countryCode + " " + currentValue);
                                });
                            });
                        </script>                            
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}