{% extends 'partials/base.html' %}
{% block title %} Profile{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-2">
            {% if messages %}
            {% for message in messages %}
            <div class = "alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="col-md-6 offset-md-3">
                <div class="row p-3">
                    <div class="d-flex flex-column">
                        <table class="table table-borderless">
                            <thead>
                                <div class="hstack">
                                    <span class="h4">Profile Information</span class="h4">
                                    <a class="btn btn-outline-primary btn-sm ms-auto" href="{% url 'user-profile-update' %}">
                                        <i class="fa-solid fa-gear me-1"></i>
                                        Edit
                                    </a>
                                </div>
                                <hr>
                            </thead>
                            <div class="d-flex justify-content-center mb-4">
                                <img class="img-thumbnail" src="{{ user.profile.image.url }}" alt="profile-image" width="250" height="350">
                            </div>
                            <tbody class="mt-3">
                                <tr>
                                    <th scope="row">Name</th>
                                    <td>{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Phone</th>
                                    <td>{{user.profile.phone}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Address</th>
                                    <td>{{user.profile.address}}</td>
                                </tr>
                            </tbody>                            
                        </table>
                        {% if user.is_superuser %}
                        <a class="btn btn-outline-warning btn-block" href="{% url 'admin:index' %}">Redirect to Admin Page</a>
                        {% endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}